@{
    ViewData["Title"] = "about us";
}


<h1 align="center" style="margin-top:50px">ЗА НАС</h1>
<div class="row" style="margin-top:100px;">
    <div class="col-xl-6 col-lg-6 col-md-6">
        <img src="https://s3-eu-west-1.amazonaws.com/websites-wordpress-uploads/premiersoftware.uk/wp-content/uploads/2017/03/2017-MAR-17-GUIDE-TO-BUYING-AN-ALREADY-ESTABLISHED-HAIR-SALON.jpg" width="500" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6" style="margin-top:30px;">
        <h5>
            Салон за красота "Чар и Стил" имат над 25 годишна история. 
            Екипът от професионалисти ще ти предложи едно приятно изживяване и ще те накара да се почувстваш специален.
            За нас всеки клиент е единствен и уникален и заслужава експертен съвет и специално внимание!
            В Салон за красота "Чар и Стил" ще получиш най-добрата грижа за твоята коса.
        </h5>
    </div>
</div>
