
@{
    ViewData["Title"] = "Contacts";
}

<h1 align="center" style="margin-top:50px">Контакти</h1>
<div class="text-center">
    <img src="https://cdn1.treatwell.net/images/view/v2.i5059481.w720.h480.x57F4036F/" width="500" style="margin-top:20px" />
</div>
<div class="row text-center" style="margin-top:20px">
    <div class="col-xl-6 col-lg-6 col-md-6">
        <h5>
            Салона се намира на адрес:<br />
            бул. Иван Вазов 1, 4330 Сопот<br />
            Email: <br />
            charistil_salon@gmail.com<br />
            Телефон за връзка:<br />
            тел.:   032/52 52 92;<br />
            моб.:  0899 999 669
        </h5>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
        <h5>
            Работно време<br />
            Понеделник: 9:00 - 18:00<br />
            Вторник: 9:00 - 18:00<br />
            Сряда: 9:00 - 18:00<br />
            Четвъртък: 9:00 - 18:00<br />
            Петък: 9:00 - 18:00<br />
            Събота: 10:00 - 20:00<br />
            Неделя - ПОЧИВКА
        </h5>
    </div>
</div>


